In [1]:
people = {1: 'Adam', 2: 'Tom', 4: 'Ann'}

In [2]:
people.get(1)

'Adam'

In [3]:
people.get(3)

In [4]:
people(3)

TypeError: 'dict' object is not callable

In [8]:
try:
    people(3)
except Exception as ex:
    print('cannot get value {}'.format(ex))

cannot get value 'dict' object is not callable

# Lambda

In [9]:
input_table = [ i for i in range(10)]

In [10]:
input_table

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
def convert_to_str(in_param):
    return str(in_param)

In [12]:
[ convert_to_str(i) for i in input_table]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [13]:
[ str(i) for i in input_table]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [14]:
def if_even_multiply(in_param):
    if in_param % 2 == 0:
        return in_param * 2
    return in_param

In [15]:
if_even_multiply(8)

16

In [16]:
if_even_multiply(7)

7

In [18]:
[ if_even_multiply(i) for i in input_table]

[0, 1, 4, 3, 8, 5, 12, 7, 16, 9]

In [24]:
if_even_multiply2 = lambda x: x * 2 if in_param % 2 == 0 else x

In [25]:
if_even_multiply2(2)

NameError: name 'in_param' is not defined

In [26]:
list(filter(lambda x: True if x % 2 == 0 else False, input_table))

[0, 2, 4, 6, 8]

In [27]:
list(filter(lambda x: not x % 2 == 0, input_table))

[1, 3, 5, 7, 9]

In [28]:
list(filter(lambda x: not x % 2, input_table))

[0, 2, 4, 6, 8]

In [29]:
list(filter(lambda x: x > 5, input_table))

[6, 7, 8, 9]

In [30]:
from functools import reduce

In [31]:
input_table

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
input_table = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
input_table

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
reduce (lambda x, y: x*y, input_table)

362880

In [42]:
input_table2 = [1, 2, 3]

In [43]:
reduce (lambda x, y: x*y, input_table2)

6

In [44]:
reduce (lambda x, y: x+y, input_table2)

6

In [45]:
reduce (lambda x, y: x+y, input_table)

45

In [46]:
sum(input_table)

45

# Regex

In [47]:
import re

In [48]:
x = "first second third"

In [49]:
x.split()

['first', 'second', 'third']

In [50]:
y = "first, second, third"
y.split(',')

['first', ' second', ' third']

In [52]:
separator = ','

In [53]:
re.split(separator, y)

['first', ' second', ' third']

In [54]:
x

'first second third'

In [55]:
z = 'Merry christmas 2017, 2018 and 2019 Merry'

In [56]:
re.findall('Merry', z)

['Merry', 'Merry']

In [57]:
re.findall('nic', z)

[]

In [58]:
re.search("[a-z]+", z)

In [61]:
p = re.search("[A-Z][a-z]+", z)

In [62]:
p.group(0)

'Merry'

In [63]:
address = 'http://www.wp.pl'

In [74]:
def print_domain(in_addr):
    
    solution = address.rsplit('.', 1)
    
    return solution

In [75]:
solution = address.rsplit('.', 1)

In [76]:
solution[1]

'pl'

In [77]:
def print_domain(in_addr):
    return re.search("\.\w+$", in_addr).group(0)

In [78]:
print_domain('http://www.wp.pl')

'.pl'